.headers-body {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  height: 40px;
  padding: 0px 24px;
  box-shadow: 0px 1px 1px rgba(107, 107, 107, .25);
}

.headers-text {
  font-size: 14px;
  font-weight: 600;
  color: #002033;
}